.content
  width: 92%
  @include breakpoint(medium up)
    width: 800px
.gentium
  font-family: 'Gentium Book Basic', serif
  font-weight: 400
  font-style: italic
  font-size: $global-font-size * 1.25
  line-height: 1.2
.lead
  @include breakpoint(small only)
    font-size: $global-font-size * 1.10
.thumbnail img
  @include breakpoint(small only)
    width: 68px
.bg-pattern
  background: image-url('bg.png')
.bg-dark
  background: $dark
.bg-green
  background: $green
.bg-dark-orange
  background: $dark-orange
.dark
  color: $white
.white
  color: $white
.orange
  color: $orange
.yellow
  color: $yellow
.bold
  font-weight: 700
.number
  background: $white
  color: $green
  margin-right: 1rem
  height: 40px
  width: 40px
  display: inline-block
  text-align: center
  border-radius: 50%
  padding-top: 2px
  @include breakpoint(small only)
    height: 36px
    width: 36px
    padding-top: 1px
.no-margin
  margin: 0
.margin-bottom
  margin-bottom: 2rem
.margin-horizontal-small
  margin-left: 0.5rem
  margin-right: 0.5rem
.padding-vertical
  padding-top: 2rem
  padding-bottom: 2rem
.padding-vertical-small
  padding-top: 1rem
  padding-bottom: 1rem
.menu-item
  font-family: 'Raleway', sans-serif
  font-weight: 700
  font-size: 125%
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5)
  color: $white
